<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120089531779-1meq10vt1mrid1n6lf8rq0lbjccdtn1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120089531779-1meq10vt1mrid1n6lf8rq0lbjccdtn1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBLGtwPJoqN-SroLxjCl261ZEJMDmi_YlA</string>
	<key>GCM_SENDER_ID</key>
	<string>120089531779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saemi.MyReceipts</string>
	<key>PROJECT_ID</key>
	<string>my-receipts-e195e</string>
	<key>STORAGE_BUCKET</key>
	<string>my-receipts-e195e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120089531779:ios:9af2796728c82488a252b6</string>
</dict>
</plist>